@model UserListViewModel
@{
    ViewData["Title"] = "User List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row clearfix">
    <div class="col-12">
        <div class="card mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h5 style="color: black; font-weight:bold">User List</h5>
                <a class="btn btn-success btn-sm ml-2" id="backBtn" style="float:right; color:white">&nbsp; &nbsp; Back &nbsp; &nbsp;</a>

            </div>
            <!-- Card Body -->
            <div class="card-body">
                <table class="table table-striped table-bordered" id="NomineeTable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Designation</th>
                            <th>User Name</th>
                            <th>Email</th>
                            <th>Employee Code</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var data in Model.aspNetUsersViewModels)
                        {
                            <tr>
                                <td>@data.EmpName</td>
                                <td>@data.DesignationName</td>
                                <td>@data.UserName</td>
                                <td>@data.Email</td>
                                <td>@data.EmpCode</td>
                                <td>
                                    <a class="btn btn-info" title="Edit" onclick="Edit('@data.aspnetId','@data.UserName','@data.EmpCode','@data.EmpName','@data.DesignationName','@data.roleId')" href="javascript:void(0)"><i class="fa fa-edit"></i></a>
                                    <a class="btn btn-success"  title="Change Password" href="#" data-toggle="modal" data-target="#changePasswordModal"><i class="fa fa-key"></i></a>

                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @*<img src="~/images/Aloha New Logo.png" style="height:50px;" />*@
                <h5 class="modal-title" id="exampleModalLabel">Change Password </h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-area="Auth" asp-controller="Account" asp-action="ChangePassword" method="post" role="form" data-parsley-validate="parsley">
                    <div class="form-group row">
                        <label class="col-md-4 col-lg-4 col-sm-12" style="color:black;" for="OldPassword">Current Password<span style="float:right;">:</span></label>
                        <div class="col-md-8 col-lg-8 col-sm-12">
                            <input type="password" class="form-control" id="OldPassword" name="OldPassword" autocomplete="off" data-parsley-required="true" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-lg-4 col-sm-12" style="color:black;" for="Password">New Password<span style="float:right;">:</span></label>
                        <div class="col-md-8 col-lg-8 col-sm-12">
                            <input type="password" class="form-control" id="Password" name="Password" autocomplete="off" data-parsley-required="true" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-lg-4 col-sm-12" style="color:black;" for="ConfirmPassword">Confirm Password<span style="float:right;">:</span></label>
                        <div class="col-md-8 col-lg-8 col-sm-12">
                            <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" autocomplete="off" data-parsley-required="true" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <button type="submit" style="float:right;" class="btn btn-success">Submit</button>
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ValidatModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="width:1040px;">
            <div class="modal-header">
                <label class="modal-title pull-left" id="myModalLabel" style="color:rgb(9, 7, 161);font-size:1em;">
                    Login Access <span id="UserId"></span>
                </label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <br />
            </div>
            <div class="modal-body">
                <form asp-area="Auth" asp-controller="Account" asp-action="EditRole" method="post" data-parsley-validate="parsley">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="row">
                        <div class="col-sm-6">

                            <div class="form-group row">
                                <label for="employeeCode" class="col-sm-4 col-form-label"> Employee Code <span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="employeeCode" value="" name="employeeCode" readonly>
                                    <input type="hidden" id="aspUserId" value="" name="aspUserId">
                                    <input type="hidden" id="employeeId" value="" name="employeeId">
                                    <input type="hidden" id="userName" value="" name="userName">
                                    <input type="hidden" id="PreRoleId" value="" name="PreRoleId">
                                    
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="name" class="col-sm-4 col-form-label"> Employee Name <span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="name" id="name" readonly>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6">

                            <div class="form-group row">
                                <label for="roleId" class="col-sm-4 col-form-label">Role <span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <select type="text" class="form-control" name="roleId" id="roleId">
                                        <option value="0" selected="selected">Select User Role</option>
                                        @foreach (var data in Model.userRoles)
                                        {
                                            <option value="@data.RoleName">@data.RoleName</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="leaveFrom" class="col-sm-4 col-form-label">Designation<span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="designation" id="designation" readonly>
                                </div>
                            </div>

                        </div>
                    </div>
                    <hr>
                    <button type="submit" value="Submit" class="btn btn-success btn-lg" style="float:right; margin-top:5px;"><i class="fas fa-save"></i></button>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-sm" data-dismiss="modal"><i class="fa fa-arrow-left"></i> Back</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#NomineeTable').DataTable();

            Common.Ajax('GET', '/global/api/getEmployeeInfoByOrg/', [], 'json', ajaxEmployeeList, false);

            var modelId = window.localStorage.getItem('modelId');
            var parentId = window.localStorage.getItem('parentId');

            if (modelId != null) {
                $("#backBtn").prop('href', '/Home/GridMenuPage?moduleId=' + modelId + '&perentId=' + parentId);
            } else {
                $("#backBtn").prop('href', '/');
            }

        });

        function ajaxEmployeeList(response) {
            console.log(response);
            var GetEmployeeList = [];
            $.each(response, function (id, option) {
                var obj = new Object();
                obj.key = option.Id;
                obj.value = option.employeeCode + ' - ' + option.nameEnglish;
                obj.name = option.nameEnglish;
                obj.designation = option.designation;
                obj.orgType = option.orgType;
                obj.nationalID = option.nationalID;
                GetEmployeeList[GetEmployeeList.length] = obj;
            });
            $('#employeeCode').autocomplete({
                source: GetEmployeeList,
                select: function (event, ui) {
                    $("#name").val(ui.item.name);
                    $("#employeeId").val(ui.item.key);
                    $("#designation").val(ui.item.designation);
                }
            });
        }

        function Edit(Id, name, empCode, empName, designation, roleId) {

            $("#UserId").val(name);
            $("#userName").val(name);
            $("#aspUserId").val(Id);
            $("#employeeCode").val(empCode);
            $("#name").val(empName);
            $("#designation").val(designation);
           
            $("#roleId").val(roleId);
            $("#PreRoleId").val(roleId);

            $('#ValidatModal').modal('show');

        }

    </script>
}
